.sidebar{
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
}

.sidebar a{
    display: block;
    color: black;
    padding: 16px;
}

.sidebar a:link{
    text-decoration: none;
}

.sidebar a.active{
    background-color: green;
    color: azure;
}

.row{
    display: grid;
}

.row .jobs{
    border: 1px solid black;
    padding: 15px;
    margin: 15px;
    box-shadow: 5px 5px 5px 5px grey;
}

.careers{
    padding: 0%;
    margin: 0%;
}
.careers .careerss{
    background-image: url('../Images/img02.jpg');
    background-size: cover;
    background-size: 100% 100%;
    padding: 150px;
    font-size: 35px;
    font-weight: bolder bold;
    color: rgb(255, 0, 0);
    text-shadow: 1px 1px black;
}
.careers .careerss h1{
    font-size: 55px;
    font-weight: bolder;
    color: rgb(20, 8, 8);
    text-shadow: 1px 1px gray;
}

